body {

background-color: rgb(3, 3, 3);

}


header { 
   background-color :antiquewhite
    ;
   text-align : center;
   margin: 0px auto;
   max-width: 800px;
}

main {
    text-align :center;
    margin: 10px auto;
    max-width: 600px
}
